 <header class="header">
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="/">
                        <i class="fas fa-film"></i>
                        MovieReviews
                    </a>
                </div>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/add-movie" class="nav-link">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a href="/search" class="nav-link">Search</a>
                    </li>
                </ul>
                <div class="nav-search">
                    <form action="/search" method="GET" class="search-form">
                        <input type="text" name="q" placeholder="Search movies..." class="search-input">
                        <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>